.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    height:80%;
    align-items: center;
    width:50%;
    border: 1.5px solid grey;
    border-radius:5px;
    padding-top: 3rem;
    
}

.cardHolder{
    height:100%;
    display: flex;
    justify-content: center;
}

.button{
    border: 1px solid blue;
    height:2rem;
    width: 10rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: #2295ed;
    color: #fff;
    margin-top: 3rem;
}

.button:hover{
     background-color: blue;
}